* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
background-color: blue;
}

header {
  margin: auto;
  background-color: blue;
  width: 80%;
  height: 550px;
}
.page-header {
;
  height: 100%;
  margin: auto;
  background-color: yellow
}
.header-nav {
  margin: 0 auto;
  height: 150px;
  width: 85%;
  background-color: green;
  line-height: 150px;

}
header-nav:after {
  content: "";
  display: table;
  clear: both;
}
.list-inline {
  list-style: none;
}



.header-nav li {
  display: inline;
  padding: 0 10px;
}
.header-nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-link{
  margin-right: 12px;
}

.header-nav-left {
  float: left;
}








main {
  margin: auto;
  background-color: red;
  width: 80%;
  height: 1000px;
}

footer {
  margin: auto;
  background-color: green;
  width: 80%;
  height: 300px;
}
